// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
@import 'schedule';
@import 'staffer';

// Overrides
code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

iframe {
  max-width: 100%;
}

details {
  @extend .mb-4;
}

summary {
  @extend .btn, .btn-outline;

  width: 100%;
}

.main-content-wrap {
  max-width: $content-width;
  margin: auto;
}

.main-content {
  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: 700;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    font-weight: normal;

    +dt {
      margin-top: 1em;
    }
  }

  .module>dl>dt+dd,
  .module>dl>dt+dd {
    border-top: 1px solid #eeebee;
  }


}


.label {
  font-weight: normal;
  margin-left: 0;
}

.label-green {
  background-color: #ADE6D8;
}

.label-yellow {
  background-color: #ffffb3;
}

.label-pink {
  background-color: #fccde5;
  color: black;
}

.gray {
  font-weight: normal;
}


dt:has(.gray) {
  background-color: #e0e0e0;
}


dd:has(.gray) {
  background-color: #e0e0e0;
}
